@import "bootstrap.css";

.pagination {
    display: flex;
}

.page-link {
    position: relative;
    display: block;
    margin-left: 2rem;
}

.fade-enter-active, .fade-leave-active {
    transition: all .2s ease;
}

.fade-enter, .fade-leave-active {
    opacity: 0;
}
